@import 'style.css';
@import 'var.scss';
@import 'common.scss';
.main-banner 
{
    position: relative;
    margin: 0 auto;
    
    img{
    background-size: cover;
    width: 100%;
    height: 100vh;
    
}   
    
}
.navbar
{
    background-color: transparent;
}
.navbar-nav .nav-item .nav-link
{
    color: $black;
    font-weight:600;
    letter-spacing: 2px;
    padding: 0px 20px;
    font-size: 17px;
}
.navbar-nav
{
    margin: auto;
    padding: 25px 0px;
}
.parts
{   
   
     top: 5%;
    text-align: left;
    
        
    

    .lefts{
        align-items: center;
        padding-top: 200px;
       .service{
           padding: 10px 0px;
       }
        .text span{
            font-size: 65px;
            font-weight: 900;
            font-style: bold;
            color: $main-color;
        }
        .text1{
            padding: 15px 0px;
        }
        .btn-1{
            width: 170px;
            height: 50px;
            margin: 20px 0px;
            a{
                margin-top: 15px;
                color: white;
            }
        }




    }





    .rights{
    // {padding-bottom: 200px;
        align-items: right;
        padding-left:70px ;
        padding-top: 40px;
        .picture{
            
            // clip-path: polygon(50% 9%, 84% 50%, 50% 88%, 16% 50%);
            position: absolute;
            animation: move 2.5s linear infinite;
            
            
        
         img{
            width: 600px;
            height: 600px;
           
        }
        
}

}}
@keyframes move{
    0%{
        transform: translate(-15px, 0px);
    }
    50%{
        transform: translate(0px, -25px);
    }
    100%{
        transform: translate(-15px, 0px);
    }
}
